# ------------------------------
# .NET / Visual Studio ignores
# ------------------------------
.vs/
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
[Tt]est[Rr]esult*/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.dbmdl
*.log
*.sqlite


# ------------------------------
# Temporary files
# ------------------------------
*.tmp
*.temp
*.bak
*.old
*.orig
*.swp
*.DS_Store
Thumbs.db

# ------------------------------
# IDE / Editor configs
# ------------------------------
.idea/
.vscode/
*.launch
*.psess
*.vsp
*.vspscc
*.ncrunchsolution
*.ncrunchproject
_ReSharper*/
*.DotSettings.user

# ------------------------------
# Publish output
# ------------------------------
publish/
artifacts/
dist/
out/

# ------------------------------
# AWS / Environment secrets
# ------------------------------
.env
*.pem
*.key
*.crt
